<html>
<div id="error">
<h4>You have an errors while submitting the form , please fill the form correctly and submit it again</h4>

</div>

</html>

<style>
#error{

margin-top:15%;

color:white;

}

</style>
