<html>
<head>
<link rel="stylesheet" type="text/css" href="location.css">
<title>Akola | Digimerc Solutions</title>
<meta name="description" lang="en" content="Digimerc solution is one of the leading digital marketing company. So we offer SEO Analyst, Web Developer, and Content Writer in Pune.">
</head>
<div class="floated-content"><h3><span id="sub-head">Clients</span></h3>

<h6>Page is coming soon......</h6>

<a href="/locations" class="btn btn-default">Go to list of locations</a>
      </div>
</html>
